body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.top-panel{
    top:0;
    position: fixed;
    background-color: white;
    height:41px;
    z-index: 100;
}

#tab-content{
    padding-top: 45px;
    background-color: rgb(221,221,221);
}

#tab-panel a.nav-link.active {
    background-color: rgb(221,221,221);
}

#tab-panel a.nav-link {
    border-bottom: none;
}

#tab-panel button.close {
    padding-left: 8px;
}

.viewer-canvas {
    width: 100%;
    height: 100%;
    position:relative;
    border: 1px solid rgb(221, 221, 221);
}
